EXPO_PUBLIC_SUPABASE_URL=https://iwvhrixexwuvcpofwikk.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
EXPO_PUBLIC_CLAUDE_API_KEY=your_claude_api_key_here
SMSEAGLE_URL=your_smseagle_url_here
SMSEAGLE_API_KEY=your_smseagle_api_key_here
